<ion-content [fullscreen]="true">
  <!-- Home tab -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Course Title</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>hello</p>
    </ion-content>
  </div>

  <!-- Menu bar -->
  <ion-menu type="reveal" content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Courses</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-button>CS108</ion-button>
        <ion-button>CS112</ion-button>
        <ion-button>CS212</ion-button>
        <ion-button>CS262</ion-button>
        <ion-button>CS336</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

</ion-content>
