ion-header {
  #logout-button {
    width: max-content;
    margin-right: 4%;
  }
}

ion-content {

  .image {
    // display: flex;
    // justify-content: center;

    .camera-icon {
      position: absolute;
      right: 6%;
      top: 39%;
    }

    /* The style for the tag */
    #profile-image {
      // border-radius: 50%;
      border-style: solid;
      border-width: thin;
      border-color: #141414;
      background-color: #141414;
      margin-bottom: 5%;
      height: auto;

      // display: block;
      // margin-left: auto;
      // margin-right: auto;
    }

    /* The style for the image of the tag */
    #profile-image::part(image) {
      // border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  #name-card {
    display: flex;
    justify-content: space-between;

    #name {
      font-weight: lighter;
      font-size: medium;
    }

    #username {
      font-weight: bold;
      font-size: large;
    }
  }

  .color {

    .color-title {
      display: flex;
      justify-content: center;

      #color-name {
        text-align: center;
        font-weight: bold;
      }
    }

    #color-input {
      // width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  ion-popover {
    #message-input {
      border-bottom: thin solid #2dd36f;
    }

    .edit-name {
      display: flex;
      justify-content: center;
    }
  }
}