<!-- <ion-header>
  <ion-toolbar color="light">
    <ion-title color="dark">
      Calvin Chats
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="light">
  <h1 class="title">Calvin Chats</h1>

  <hr color="tint">

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <ion-item counter="true" [counterFormatter]="nameCounterFormatter" color="light">
      <ion-label position="stacked">Name:</ion-label>
      <ion-input maxlength="13" placeholder="Enter name" #fName="ngModel" type="text" name="text" [(ngModel)]="user.name" required></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label position="stacked">Email:</ion-label>
      <ion-input placeholder="Enter email" #fName="ngModel" type="email" name="email" [(ngModel)]="user.email" required></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label position="stacked">Password:</ion-label>
      <ion-input placeholder="Enter password" type="password" name="password" [(ngModel)]="user.password" required minlength="6">
      </ion-input>
      <ion-note slot="helper">Valid password</ion-note>
      <ion-note slot="error">Invalid password</ion-note>
      <ion-text id="password-info">
        (At least 6 characters. Do not use your real email account password)
      </ion-text>
    </ion-item>

    <hr color="tint">

    <ion-item color="light">
      <ion-button color="success" type="submit" [disabled]="f.valid">Log in</ion-button>

      <!-- Only enables when the user inputs all three value -->
      <ion-button slot="end" color="success" [disabled]="!f.valid" (click)="createAccount()">Create an account</ion-button>
    </ion-item>

    <ion-item color="light">
      <ion-button color="warning" class="reset-password" slot="start" detail="false" button (click)="resetPassword()">Reset password</ion-button>
    </ion-item>
  </form>

  <hr color="tint">

  <ion-item id="description" color="light">
    Log in by typing in your email and password.
    <br>
    Create an account by typing in all three values.
  </ion-item>
</ion-content>
